@font-face {
  font-family: gothic;
  src: url("fonts/FeathergraphyDecoration-BXYx.ttf") format("truetype");
}
:root {
  --box: aqua;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* pointer-events: none; */
}
.site--shell {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: black;
}

.main--container {
  width: 100vw;
  max-width: 1400px;
  height: 100vh;
  background-color: black;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
}

.name {
  font-family: gothic;
  color: white;
  font-size: 200px;
  text-shadow: 5px 5px 15px rgb(81, 156, 223);
}

img {
  width: 720px;
  display: block;
}
.mask-slider-frame {
  position: relative;
}
.mask-container {
  position: absolute;
  transition: transform 1.2s cubic-bezier(1, -0.01, 0.91, 0.99);
}
.slide-framer-left {
  transform: translateX(-450px);
}

.color-image {
  position: absolute;
  /* max-width: 100%; */
  width: 720px;
  inset: 0;
  background-size: cover;
  background-image: url("components/src/images/pcolor.png");
  -webkit-mask-image: url("components/src/images/slide with no white.png");
  -webkit-mask-size: cover;
  -webkit-mask-position: 0% 0%;
  mask-image: url("components/src/images/slide with no white.png");
  mask-size: 720px;
  mask-position: 0% 0%;
  transition: -webkit-mask-position;
}
.coloredTop {
  position: absolute;
  top: 0;
  z-index: 5;
  opacity: 0%;
  transition: opacity 0.6s ease-out;
}
.visible {
  opacity: 100%;
}

.mask-animation {
  animation: colorize 450ms steps(24) forwards;
}
/* can change, consider action film no steps? */
@keyframes colorize {
  0% {
    -webkit-mask-position: 0% 0%;
    mask-position: 0% 0%;
  }
  100% {
    -webkit-mask-position: 100% 0%;
    mask-position: 100% 0%;
  }
}

.main--grid--right {
  background-color: darkolivegreen;
  width: 100%;
  min-height: 100vh;
}

.test {
  color: var(--box);
  position: absolute;
  z-index: 10;
  width: 100px;
  top: 50%;
  border: 3px solid var(--box);
  padding: 20px;
  -webkit-box-reflect: below 0 linear-gradient(transparent, white);
  transition: color 0.5s linear 1s, border 0.5s linear 0.5s,
    font-size 0.5s ease-in-out 2.5s;

  display: flex;
  justify-content: center;
  align-items: center;
}
.test:hover {
  scale: 105%;
  color: black;
  box-shadow: 0 0 10px var(--box), 0 0 20px var(--box), 0 0 40px var(--box),
    0 0 80px var(--box), 0 0 160px var(--box);
  border: 3px solid black;
}

.test::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background-color: var(--box);
  box-shadow: 5px -8px 0 var(--box), 5px 8px 0 var(--box);
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
  transition-delay: 1s, 0.5s, 0s, 0s;
}

.test:hover::before {
  width: 60%;
  height: 100%;
  left: -2px;
  box-shadow: 5px 0px 0 var(--box), 5px 0px 0 var(--box);
  transition-delay: 0s, 0s, 0.5s, 1s;
  font-size: 2.2rem;
}

.test::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background-color: var(--box);
  box-shadow: -5px -8px 0 var(--box), -5px 8px 0 var(--box);
  transition: width 0.5s ease-in-out, right 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
  transition-delay: 1s, 0.5s, 0s, 0s;
}

.test:hover::after {
  width: 60%;
  height: 100%;
  right: -2px;
  box-shadow: -5px 0 0 var(--box), -5px 0 0 var(--box);
  transition-delay: 0s, 0s, 0.5s, 1s;
}

.test > h6 {
  z-index: 15;
  pointer-events: none;
  font-family: gothic;
  font-size: 2rem;
}
